.news-list-ctnr {
  padding: 2rem;
}
.news-item {
  max-width: 640px;
  max-height: 300px;
  margin-top: 2em;
  overflow: hidden;
  transition: max-height .3s
}
.news-item:first-child {margin-top: 0;}
.news-item.collapsed {
  max-height: 2.9rem;
}
.news-title {
  color: #8C1818;
  font-size: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  display: inline-block;
  transition: color .3s;
}
.collapsed .news-title {
  color: #666;
}
.news-title span {
  border-color: transparent;
}
.collapsed .news-title span {
  border-bottom: 2px dashed #666;
}
.news-content {
  padding-top: .5rem;
}
