/* animation */
.news-item {
  overflow: hidden;
  max-height: 400px;
  transition: max-height .3s
}
.news-item.collapsed {
  max-height: 2.9rem;
}
.news-item.with-comments {
  max-height: 1400px;
}
.comment-list {
  max-height: 0;
  transition: max-height .3s
}
.with-comments .comment-list {
  max-height: 1000px;
}

/* news list */
.news-list-ctnr {
  padding: 2rem;
}
.news-item {
  max-width: 640px;
  margin-top: 2rem;
}
.news-item:first-child {margin-top: 0;}
.news-title {
  color: #8C1818;
  font-size: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  display: inline-block;
  transition: color .3s;
}
.collapsed .news-title {
  color: #666;
}
.news-title span {
  border-color: transparent;
}
.collapsed .news-title span {
  border-bottom: 2px dashed #666;
}
.news-content {
  padding-top: .5rem;
}
.news-comments .comments-toggle {
  display: inline-block;
  margin: .5rem 0;
  border-bottom: 1px dashed #666;
  cursor: pointer;
}

/* news comment */
.news-comment {
  margin-top: .5rem;
  font-size: .8rem;
}

.news-comment:first-child {
  margin-top: 0;
}

.comment-author {
  font-style: italic;
  font-weight: bold;
}
